.H{
    background: linear-gradient(blue, aqua );
    height: auto;
    margin-top: -4%;
}


.T{
    text-align: center;
    font-size: 150%;
    font-style: inherit;

}
.L{
    position: absolute;
    left: 10%;
   font-size: 130%;
   margin-top: -10%;
   font-style:inherit ;
}
.E{
    position: absolute;
    right: 10%;
    font-size: 130%;
  margin-top: -10%;
  font-style: inherit;
}
.D{
    width: 34%;
}
.K{
    width: 30%;
    position: relative;
    right: -30%;
}
.MH{
    background-color: red;
    text-align: center;
    font-size: 130%;
    width: 30%;
    position: relative;
    right: -33%;
    margin-top: -20%;
}
.MK{
    background-color:green;
    text-align: center;
    font-size: 130%;
    width: 30%;
    position: relative;
    right: -33%;

}
.MT{
    background-color:orangered;
    text-align: center;
    font-size: 130%;
    width: 30%;
    position: relative;
    right: -33%;
}